@import url(http://fonts.googleapis.com/css?family=Roboto:500);
@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-Regular-webfont.woff);
}

body {
    font-family: 'Roboto','Microsoft JhengHei',noto;
    font-size: large;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

#login {
    margin-top: 12px;
    margin-left: 10px;
}

.container-fluid {
    height: inherit;
}

.row {
    padding-top: 50px;
    background-color: #3C3C3C;
}

#mainContainer {
    height: inherit;
}

#mainRow {
    height: inherit;
}

#leftSide {
    height: inherit;
    background-color: silver;
    overflow: hidden;
    z-index: 168;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.59);
}

#leftSideSwitch {
    margin-top: 10px;
}

#searchOptions {
    padding-top: 0px;
    background-color: silver;
}

#searchResults {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: silver;
    /*    height: inherit;
    overflow: auto;*/
}

.searchResult {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #2AABD2;
    background: #dddddd;
    margin: 0px;
    margin-bottom: 4px;
    cursor: pointer;
    cursor: hand;
}

.searchResultSelected {
    background: #eeeeee;
    margin-top:2px;
    margin-bottom:5px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75); 
}

.searchResultDescription .list-group-item {
    font-size: 14px;
    padding: 9px;
}

.owner {
    cursor: pointer;
    cursor: hand;
}

.img-rounded {
    width: 100%;
}

.panel{
    margin: 0px;
}

#mapSide {
    height: inherit;
    background-color: gray;
    /*cursor: inherit;*/
}

.row .postGroup {
    padding-top: 0px;
    background-color: silver;
}

#autocomplete-group {
    width: 25%;
    margin-left: 25px;
    margin-top: 16px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.36);
}

#autocomplete {
    text-overflow: ellipsis;
}

#myLocation {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 0;
}

.searchclear {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 14px;
    right: 7px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 10;
}

.custom-marker {
    background-color: white;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    padding: 6px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    width: 128px;
    height: 96px;
}

.custom-marker-120
{
    width:120px;
    height:90px;
}

.custom-marker-112
{
    width:112px;
    height:84px;
}

.custom-marker-104
{
    width:104px;
    height:78px;
}

.custom-marker-96
{
    width:96px;
    height:72px;
}

.custom-marker-88
{
    width:88px;
    height:66px;
}

.custom-marker-80
{
    width:80px;
    height:60px;
}

.custom-marker-72
{
    width:72px;
    height:54px;
}

.custom-marker-64
{
    width:64px;
    height:48px;
}

.custom-marker-56
{
    width:56px;
    height:42px;
}

.custom-marker-48
{
    width:48px;
    height:36px;
}

.normal-item {
    border-color: #26a69a;
}

.time-limited-item {
    border-color: #00f;
}

.selected-item{
    border-color: #0f0;
}

.contained-image {
    max-width: 100%;
    max-height:100%;

    min-width: 100%;
    min-height: 100%;
}

#mask {
    display: none;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
}

.popup {
    display: none;
    /*border: 2px solid #ddd;*/
    float: left;
    /*font-size: 1.2em;*/
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);
    z-index: 1032;
}

#overlay-login {
    background: #eee;
    padding: 10px;
    width: 30%;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#overlay-maintenance {
    background: #eee;
    padding: 10px;
    width: 500px;
    height: 300px;
}

.popup-close {
    float: right;
    margin-right: -7px;
    margin-top: -7px;
}

.emphasis {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.floating {
    z-index: 2000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-send,.Reply
{
    border-radius:2px;
    margin-top: 20px;
    margin-bottom: 10px;
    /*background-color:#ec407a;*/
    float:right;
    width:60%;
    height:50px;
    margin-top:20px;
}

#message
{
    resize:none;
    margin-top:10px;
}

#messageReply
{
    resize:none;
}

#messageTextarea
{
    padding:6px;
}

.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.profile-user-img
{
    max-width:200px;
    max-height:200px;
    border: 6px solid white;
    margin-left:50px;
    z-index:99999;
}

.profile-block
{
    position:absolute;
    z-index:-999;
    background-color:#f0f0f0;
    margin-top:-50px;
    margin-left:-6px;
    padding:5px;
    border-radius:5px;
    width:98%;
    height:80%;
}